type Rectangle = {
	// turns out past me made neon allow a optional ;
	x float; y float;
	width float; height float
}

type Vector2 = {
	// this reads like something you'd do in go
	// but it's just how the tokenize works
	// you can have multiple statements on the same line
	// or put a newline separator, or the ; from above
	x float y float
}

type Vector3 = {
	x float; y float; z float
}

type Texture2D = {
	id uint;
	width int; height int;
	mipmaps int; format int
}

type Image = {
	data ptr<void>;
	width int; height int;
	mipmaps int; format int
}

type Color = {
	// uchar -> unsigned char, since that is what raylib defines these as(0-255)
	r uchar;
	g uchar;
	b uchar;
	a uchar;
}
type Camera3D = {
	position Vector3
	target Vector3
	up Vector3
	fovy float
	projection int
}
func InitWindow(width int, height int, title string) @declaration ->void
func LoadImage(path string) @declaration ->Image
func LoadTextureFromImage(image Image) @declaration ->Texture2D
func UnloadTexture(texture Texture2D) @declaration ->void
func UnloadImage(image Image) @declaration ->void
func DrawTexture(texture Texture2D, posX int, posY int, tint Color) @declaration ->void
func GetScreenWidth() @declaration ->int
func GetScreenHeight() @declaration ->int

func GetFrameTime() @declaration ->float
func IsKeyDown(key int) @declaration ->boolean
func IsKeyPressed(key int) @declaration ->boolean
func IsKeyReleased(key int) @declaration ->boolean
func IsKeyUp(key int) @declaration ->boolean
func SetExitKey(key int) @declaration ->void

func WindowShouldClose() @declaration ->boolean
func ClearBackground(color Color) @declaration ->void
func BeginDrawing() @declaration ->void
func DrawRectangleRec(rect Rectangle, color Color) @declaration ->void
func DrawRectangle(x int, y int, width int, height int, color Color) @declaration ->void
func DrawRectangleLines(x int, y int, width int, height int, color Color) @declaration ->void
func DrawRectangleV(position Vector2, size Vector2, color Color) @declaration ->void
func DrawCircle(centerX int, centerY int, rad float, color Color) @declaration ->void
func DrawCircleLines(centerX int, centerY int, rad float, color Color) @declaration ->void
func DrawCircleV(center Vector2, rad float, color Color) @declaration ->void
func DrawLine(startX int, startY int, endX int, endY int, color Color) @declaration ->void
func DrawLineV(p1 Vector2, p2 Vector2, color Color) @declaration ->void
func DrawPixel(x int, y int, color Color) @declaration ->void

func DrawLineEx(start Vector2, endPos Vector2, thickness float, color Color) @declaration ->void
func GetRandomValue(min int, max int) @declaration ->int

func BeginMode3D(camera Camera3D) @declaration ->void
func DrawGrid(slices int, spacing float) @declaration ->void
func DrawLine3D(start Vector3, endPos Vector3, color Color) @declaration ->void
func DrawSphere(center Vector3, radius float, color Color) @declaration ->void
func DrawSphereEx(center Vector3, radius float, rings int, slices int, color Color) @declaration ->void
func DrawCylinder(position Vector3, radiusTop float, radiusBottom float, height float, slices int, color Color) @declaration ->void
func DrawCylinderWires(position Vector3, radiusTop float, radiusBottom float, height float, slices int, color Color) @declaration ->void
func DrawCube(position Vector3, width float, height float, length float, color Color) @declaration ->void
func DrawCubeWires(position Vector3, width float, height float, length float, color Color) @declaration ->void
func EndMode3D() @declaration ->void
func DrawTextureRec(texture Texture2D, source Rectangle, position Vector2, tint Color) @declaration ->void
func SetTargetFPS(fps int) @declaration ->void
func EndDrawing() @declaration ->void
func CloseWindow() @declaration ->void
//RLAPI int MeasureText(const char *text, int fontSize);                                      // Measure string width for default font
func MeasureText(text string, fontSize int) @declaration ->int
//RLAPI void DrawText(const char *text, int posX, int posY, int fontSize, Color color);       // Draw text (using default font)
func DrawText(text string, posX int, posY int, fontSize int, color Color) @declaration ->void

func IsMouseButtonPressed(button int) @declaration ->boolean
func IsMouseButtonDown(button int) @declaration ->boolean
func IsMouseButtonReleased(button int) @declaration ->boolean
func IsMouseButtonUp(button int) @declaration ->boolean

func GetMouseX() @declaration ->int
func GetMouseY() @declaration ->int
func GetMousePosition() @declaration ->Vector2
func GetMouseDelta() @declaration ->Vector2

func SetMousePosition(x int, y int) @declaration ->void
func SetMouseOffset(offsetX int, offsetY int) @declaration ->void
func SetMouseScale(scaleX float, scaleY float) @declaration ->void
func GetMouseWheelMove() @declaration ->float
func GetMouseWheelMoveV() @declaration ->Vector2
func SetMouseCursor(cursor int) @declaration ->void
func GetColor(v int) @declaration ->Color
func TextFormat(text string, ...) @declaration ->string


// Mouse buttons
enum MouseButton = {
    MOUSE_BUTTON_LEFT    = 0       // Mouse button left
    MOUSE_BUTTON_RIGHT   = 1       // Mouse button right
    MOUSE_BUTTON_MIDDLE  = 2       // Mouse button middle (pressed wheel)
    MOUSE_BUTTON_SIDE    = 3       // Mouse button side (advanced mouse device)
    MOUSE_BUTTON_EXTRA   = 4       // Mouse button extra (advanced mouse device)
    MOUSE_BUTTON_FORWARD = 5       // Mouse button forward (advanced mouse device)
    MOUSE_BUTTON_BACK    = 6       // Mouse button back (advanced mouse device)
}
enum CameraProjection = {
    CAMERA_PERSPECTIVE = 0         // Perspective projection
    CAMERA_ORTHOGRAPHIC             // Orthographic projection
}

enum MouseCursor = {
	MOUSE_CURSOR_DEFAULT      = 0
	MOUSE_CURSOR_ARROW        = 1
	MOUSE_CURSOR_IBEAM        = 2
	MOUSE_CURSOR_CROSSHAIR    = 3
	MOUSE_CURSOR_POINTING_HAND = 4
	MOUSE_CURSOR_RESIZE_EW    = 5
	MOUSE_CURSOR_RESIZE_NS    = 6
	MOUSE_CURSOR_RESIZE_NWSE  = 7
	MOUSE_CURSOR_RESIZE_NESW  = 8
	MOUSE_CURSOR_RESIZE_ALL   = 9
	MOUSE_CURSOR_NOT_ALLOWED  = 10
}

const RED Color = Cast<Color>({255,0,0,255})
const GREEN Color = Cast<Color>({0,255,0,255})
const BLUE Color = Cast<Color>({0,0,255,255})
const BLACK Color = Cast<Color>({0,0,0,255})
const WHITE Color = Cast<Color>({255,255,255,255})
const DARKGRAY Color = Cast<Color>({100,100,100,255})
const GRAY Color = Cast<Color>({128,128,128,255})
const LIGHTGRAY Color = Cast<Color>({200,200,200,255})
const KEY_ESCAPE int = 256
const KEY_ENTER int = 257
// other keys can be added, also, if you want A-Z, just use the ascii code 'A' is 65, KEY_A is also 65


////// ---------------- //////
//     math functions      //
func Vector2Add(vec1 Vector2, vec2 Vector2) @declaration ->Vector2
func Vector2Scale(vec Vector2, scale float) @declaration ->Vector2
func Vector2Clamp(vec1 Vector2, min Vector2, max Vector2) @declaration ->Vector2
func DrawFPS(x int, y int) @declaration ->void
