type Rectangle = {
	// turns out past me made neon allow a optional ;
	x float; y float;
	width float; height float
}

type Vector2 = {
	// this reads like something you'd do in go
	// but it's just how the tokenize works
	// you can have multiple statements on the same line
	// or put a newline separator, or the ; from above
	x float y float
}

type Vector3 = {
	x float; y float; z float
}

type Texture2D = {
	id uint;
	width int; height int;
	mipmaps int; format int
}

type Image = {
	data ptr<void>;
	width int; height int;
	mipmaps int; format int
}

type Color = {
	// uchar ->  unsigned char, since that is what raylib defines these as(0-255)
	r uchar;
	g uchar;
	b uchar;
	a uchar;
}
type Camera3D = {
	position Vector3
	target Vector3
	up Vector3
	fovy float
	projection int
}
fn InitWindow(width int, height int, title string) void @def
fn LoadImage(path string) Image @def
fn LoadTextureFromImage(image Image) Texture2D @def
fn UnloadTexture(texture Texture2D) void @def
fn UnloadImage(image Image) void @def
fn DrawTexture(texture Texture2D, posX int, posY int, tint Color) void @def
fn GetScreenWidth() int @def
fn GetScreenHeight() int @def

fn GetFrameTime() float @def
fn IsKeyDown(key int) boolean @def
fn IsKeyPressed(key int) boolean @def
fn IsKeyReleased(key int) boolean @def
fn IsKeyUp(key int) boolean @def
fn SetExitKey(key int) void @def

fn WindowShouldClose() boolean @def
fn ClearBackground(color Color) void @def
fn BeginDrawing() void @def
fn DrawRectangleRec(rect Rectangle, color Color) void @def
fn DrawRectangle(x int, y int, width int, height int, color Color) void @def
fn DrawRectangleLines(x int, y int, width int, height int, color Color) void @def
fn DrawRectangleV(position Vector2, size Vector2, color Color) void @def
fn DrawCircle(centerX int, centerY int, rad float, color Color) void @def
fn DrawCircleLines(centerX int, centerY int, rad float, color Color) void @def
fn DrawCircleV(center Vector2, rad float, color Color) void @def
fn DrawLine(startX int, startY int, endX int, endY int, color Color) void @def
fn DrawLineV(p1 Vector2, p2 Vector2, color Color) void @def
fn DrawPixel(x int, y int, color Color) void @def

fn DrawLineEx(start Vector2, endPos Vector2, thickness float, color Color) void @def
fn GetRandomValue(min int, max int) int @def

fn BeginMode3D(camera Camera3D) void @def
fn DrawGrid(slices int, spacing float) void @def
fn DrawLine3D(start Vector3, endPos Vector3, color Color) void @def
fn DrawSphere(center Vector3, radius float, color Color) void @def
fn DrawSphereEx(center Vector3, radius float, rings int, slices int, color Color) void @def
fn DrawCylinder(position Vector3, radiusTop float, radiusBottom float, height float, slices int, color Color) void @def
fn DrawCylinderWires(position Vector3, radiusTop float, radiusBottom float, height float, slices int, color Color) void @def
fn DrawCube(position Vector3, width float, height float, length float, color Color) void @def
fn DrawCubeWires(position Vector3, width float, height float, length float, color Color) void @def
fn EndMode3D() void @def
fn DrawTextureRec(texture Texture2D, source Rectangle, position Vector2, tint Color) void @def
fn SetTargetFPS(fps int) void @def
fn EndDrawing() void @def
fn CloseWindow() void @def
//RLAPI int MeasureText(const char *text, int fontSize);                                      // Measure string width for default font
fn MeasureText(text string, fontSize int) int @def
//RLAPI void DrawText(const char *text, int posX, int posY, int fontSize, Color color);       // Draw text (using default font)
fn DrawText(text string, posX int, posY int, fontSize int, color Color) void @def

fn IsMouseButtonPressed(button int) boolean @def
fn IsMouseButtonDown(button int) boolean @def
fn IsMouseButtonReleased(button int) boolean @def
fn IsMouseButtonUp(button int) boolean @def

fn GetMouseX() int @def
fn GetMouseY() int @def
fn GetMousePosition() Vector2 @def
fn GetMouseDelta() Vector2 @def

fn SetMousePosition(x int, y int) void @def
fn SetMouseOffset(offsetX int, offsetY int) void @def
fn SetMouseScale(scaleX float, scaleY float) void @def
fn GetMouseWheelMove() float @def
fn GetMouseWheelMoveV() Vector2 @def
fn SetMouseCursor(cursor int) void @def
fn GetColor(v int) Color @def
fn TextFormat(text string, ...) string @def


// Mouse buttons
enum MouseButton = {
    MOUSE_BUTTON_LEFT    = 0       // Mouse button left
    MOUSE_BUTTON_RIGHT   = 1       // Mouse button right
    MOUSE_BUTTON_MIDDLE  = 2       // Mouse button middle (pressed wheel)
    MOUSE_BUTTON_SIDE    = 3       // Mouse button side (advanced mouse device)
    MOUSE_BUTTON_EXTRA   = 4       // Mouse button extra (advanced mouse device)
    MOUSE_BUTTON_FORWARD = 5       // Mouse button forward (advanced mouse device)
    MOUSE_BUTTON_BACK    = 6       // Mouse button back (advanced mouse device)
}
enum CameraProjection = {
    CAMERA_PERSPECTIVE = 0         // Perspective projection
    CAMERA_ORTHOGRAPHIC             // Orthographic projection
}

enum MouseCursor = {
	MOUSE_CURSOR_DEFAULT      = 0
	MOUSE_CURSOR_ARROW        = 1
	MOUSE_CURSOR_IBEAM        = 2
	MOUSE_CURSOR_CROSSHAIR    = 3
	MOUSE_CURSOR_POINTING_HAND = 4
	MOUSE_CURSOR_RESIZE_EW    = 5
	MOUSE_CURSOR_RESIZE_NS    = 6
	MOUSE_CURSOR_RESIZE_NWSE  = 7
	MOUSE_CURSOR_RESIZE_NESW  = 8
	MOUSE_CURSOR_RESIZE_ALL   = 9
	MOUSE_CURSOR_NOT_ALLOWED  = 10
}

const RED Color = Cast<Color>({255,0,0,255})
const GREEN Color = Cast<Color>({0,255,0,255})
const BLUE Color = Cast<Color>({0,0,255,255})
const BLACK Color = Cast<Color>({0,0,0,255})
const WHITE Color = Cast<Color>({255,255,255,255})
const DARKGRAY Color = Cast<Color>({100,100,100,255})
const GRAY Color = Cast<Color>({128,128,128,255})
const LIGHTGRAY Color = Cast<Color>({200,200,200,255})
const KEY_ESCAPE int = 256
const KEY_ENTER int = 257
// other keys can be added, also, if you want A-Z, just use the ascii code 'A' is 65, KEY_A is also 65


////// ---------------- //////
//     math functions      //
fn Vector2Add(vec1 Vector2, vec2 Vector2) Vector2 @def
fn Vector2Scale(vec Vector2, scale float) Vector2 @def
fn Vector2Clamp(vec1 Vector2, min Vector2, max Vector2) Vector2 @def
fn DrawFPS(x int, y int) void @def
