// in theory, you can have a cleaner "src/<platform>/<implementations>.neon"
// and just
/*
platform <name>{
	import "<path>"
}
*/
platform windows{
	var x int = 30
}

platform linux{
	var x int = 40
}

platform darwin{
	var x int = 50
}

func main() -> int
{return x}
