import "stdlib"
import "stdlib"
#include <lua.h>
#include <lauxlib.h>
#include <lualib.h>
abstract lua_State

var t Array<int, 0> = {0, 2}
type tt = {
	names Array<string, 3>
}
function main() int
	return 0
end
