import "raylib"
func main() -> int
	InitWindow(800,600,"testing")
	SetTargetFPS(60)
	while !WindowShouldClose() do
		BeginDrawing()
		ClearBackground(BLACK)
		DrawText("Looks like lua, but transpiles to C", 20,20,30, RED)
		EndDrawing()
	end

	return 0
end
